 body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      color: #333;
    }

    header {
      background-color: #222;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    header h1 {
      margin: 0;
    }

    nav {
      margin-top: 10px;
    }

    nav a {
      color: #fff;
      margin: 0 15px;
      text-decoration: none;
      font-weight: bold;
    }

    nav a:hover {
      text-decoration: underline;
    }

    section {
      max-width: 1000px;
      margin: 40px auto;
      padding: 0 20px;
    }

    h2 {
      border-bottom: 2px solid #ccc;
      padding-bottom: 10px;
    }

    .projects {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .project {
      background-color: #fff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      flex: 1 1 calc(33% - 40px);
      box-sizing: border-box;
    }

    .project h3 {
      margin-top: 0;
    }

    footer {
      background-color: #222;
      color: #fff;
      text-align: center;
      padding: 15px 20px;
      margin-top: 40px;
    }

    #about .about-container {
      display: flex;
      aligin-items: center;  /* Выравнивание по центру по вертикали */
      gap: 20px;             /* Расстоение между фото и текстом */
      flex-wrap: wrap;       /* Перенос компонентов на маленькие экраны */
     }

    #about .about-photo img {
      display: block;
      width: 200px;         /* Ширина фото под макет */
      height: 400px;
      border-radius: 8px;   /* скругление углов */
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
     }

    #about .about-text {
      flex: 1;             /* Текст занимает все доступное место рядом с фото */
      min-width: 200px;    /* Минимальная ширина текста, выставляем чтоб небыло слишком узко */
     }

    /* адаптивность для очень узких экранов */
    @media(max-width: 600px) {
       #about .about-container {
        flex-direction: column; /* Сначала фото, потом текст */
        text-align: center;     /* текст по центру */
       }

      #about .about-photo img {
       wigth: 150px;
       margin: 0 auto;
      }
     }

    /* Адаптивность */
    @media(max-width:768px){
      .projects {
        flex-direction: column;
      }
      
      .project {
        flex: 1 1 auto;
        width:auto; 
        max-width:none; 
        margin-bottom:20px; 
      }
     }
    
     /* Кнопка */
     .btn {
       display:inline-block; 
       padding:10px 20px; 
       background-color:#222; 
       color:#fff; 
       text-decoration:none; 
       border-radius:5px; 
       transition:.3s all; 
     }
     
     .btn:hover{
       background-color:#555; 
     }



